
<div class="">
  <div class="latest-photos">
    <ul id="carousel-latest">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="">Temperature: <%= getCurrentTemp(47.620720, -122.347599) %>
<br/>
Condition: <%= getCurrentCondition(47.620720, -122.347599) %></div>
</div>

<div class="">
  <div class="city-container">
    <div class="city-name">Chicago</div>
    <div class="city-weather">
      Temperature: <%= getCurrentTemp(41.879400, -87.633759) %>
      <br/>
      Condition: <%= getCurrentCondition(41.879400, -87.633759) %>
    </div>
    <div class="carousel-container">
      <ul id="carousel-chicago">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="city-container">
    <div class="city-name">New York</div>
    <div class="city-weather">
      Temperature: <%= getCurrentTemp(40.759200, -73.984639) %>
      <br/>
      Condition: <%= getCurrentCondition(40.759200, -73.984639) %>
    </div>
    <div class="carousel-container">
      <ul id="carousel-newyork">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="city-container">
    <div class="city-name">Aspen</div>
    <div class="city-weather">
      Temperature: <%= getCurrentTemp(39.190430, -106.818049) %>
      <br/>
      Condition: <%= getCurrentCondition(39.190430, -106.818049) %>
    </div>
    <div class="carousel-container">
      <ul id="carousel-newyork">
        <li></li>
      </ul>
    </div>
  </div>

</div>
