
<div class="local">
  <div class="local-image">
    <img src="/splashiImage.jpg" width="600">
  
    <div class="local-temp">
      <span class="temp">Local <%= getCurrentTemp(47.53, -122.3) %>&#176;F</span>
      <br/>
      <span class="condition">Condition: <%= getCurrentCondition(47.53, -122.3) %></span>
    </div>
  </div>
  <div class="latest-photos carousel-container" id="carousel-seattle">
    <ul></ul>
    <div id="status-seattle" class="notify"></div>
    
  </div>
  <img src="/upload-button.png" border="0"/>
</div>

<div class="cities">
  <div class="city-container">
    <span class="city-name">Chicago</span>
    <span class="temp"><%= getCurrentTemp(41.879400, -87.633759) %>&#176;F</span>
    <br/>
    <span class="condition">Condition: <%= getCurrentCondition(41.879400, -87.633759) %></span>
    <div class="carousel-container" id="carousel-chicago">
      <ul>
      </ul>
    </div>
    <div id="status-chicago" class="notify"></div>
  </div>

  <div class="city-container">
    <span class="city-name">Miami</span>
    <span class="temp"><%= getCurrentTemp(25.775210, -80.188609) %>&#176;F</span>
    <br/>
    <span class="condition">Condition: <%= getCurrentCondition(25.77521, -80.188609) %></span>
    <div class="carousel-container" id="carousel-miami">
      <ul>
      </ul>
    </div>
    <div id="status-miami" class="notify"></div>
  </div>

  <div class="city-container">
    <span class="city-name">Aspen</span>
    <span class="temp"><%= getCurrentTemp(39.190430, -106.818049) %>&#176;F</span>
    <br/>
    <span class="condition">Condition: <%= getCurrentCondition(39.190430, -106.818049) %></span>
    <div class="carousel-container" id="carousel-aspen">
      <ul >
      </ul>
    </div>
    <div id="status-aspen" class="notify"></div>
  </div>

</div>
