
<div class="">
  <div class="latest-photos">
    <ul id="carousel-latest">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="">Temperature: <%= getCurrentTemp(47.53, -122.3) %>
<br/>
Condition: <%= getCurrentCondition(47.53, -122.3) %></div>
</div>

<div class="">
  <div class="city-container">
    <div class="city-name">Chicago</div>
    <div class="city-weather">
      Temperature: <%= getCurrentTemp(47.53, -122.3) %>
      <br/>
      Condition: <%= getCurrentCondition(47.53, -122.3) %>
    </div>
    <div class="carousel-container">
      <ul id="carousel-chicago">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="city-container">
    <div class="city-name">New York</div>
    <div class="city-weather">
      Temperature: <%= getCurrentTemp(47.53, -122.3) %>
      <br/>
      Condition: <%= getCurrentCondition(47.53, -122.3) %>
    </div>
    <div class="carousel-container">
      <ul id="carousel-newyork">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="city-container">
    <div class="city-name">Miami</div>
    <div class="city-weather">
      Temperature: <%= getCurrentTemp(47.53, -122.3) %>
      <br/>
      Condition: <%= getCurrentCondition(47.53, -122.3) %>
    </div>
    <div class="carousel-container">
      <ul id="carousel-newyork">
        <li></li>
      </ul>
    </div>
  </div>

</div>